# Change this file to .env and changes your creanditials
NODE_ENV="development"
PORT=5000
SOCKET_PORT=4000
SERVER_URL=enter_your_server_url
DATABASE_URL=enter_your_db_url
BCRYPT_SALT_ROUNDS=12
JWT_ACCESS_SECRET=c362d2567fd4a403fe0e4352d984523ef45cfgff54525452bdf85c43d22bf6935eb31b3bc7c0580a1f4556315548cc145215225
JWT_REFRESH_SECRET=23ef450e4352d9845feb31b3bc7c0580a1fcfgc362d2567fd4a403fe455f54525452bdf85c43d22bf69356315548cc145215225
JWT_ACCESS_EXPIRE_IN="7d"
JWT_REFRESH_EXPIRE_IN="30d"
RESET_PASS_LINK="http://localhost:3000/reset-password"
EMAIL=enter_your_email
APP_PASS=enter_your_app_pass
ADMIN_PASS=admin123
STRIPE_API_KEY=enter_your_stripe_api_key
STRIPE_API_SECRET=enter_your_stripe_api_secret
CLIENT_URL="http://localhost:3000"
PAYMENT_SUCCESS_URL="http://localhost:3000/success"
PAYMENT_CANCEL_URL="http://localhost:3000/cancel"
S3_BUCKET_ACCESS_KEY=enter_your_S3_BUCKET_ACCESS_KEY
S3_BUCKET_SECRET_ACCESS_KEY=enter_your_S3_BUCKET_SECRET_ACCESS_KEY
AWS_REGION=enter_your_AWS_REGION
AWS_BUCKET_NAME=enter_your_AWS_BUCKET_NAME